.door-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* 화면 전체 너비 */
  overflow: hidden; /* 혹시 넘치는 부분 숨김 */
  background-color: #000;
}

.door-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 화면에 꽉 차게 */
  cursor: pointer;
  transition: transform 0.5s ease;
}

@media (max-width: 768px) {
  .door-image {
    width: 100%;
    height: 100%;
  }
}
