.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url('/app/src/asset/background_home.png'); /* 이미지 경로 넣기 */
  background-size: cover; /* 화면 가득 채우기 */ 
  background-position: center; 
  background-repeat: no-repeat; }
}

.home-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.2rem;
  color: #333;
}
